<h3>
  <i><%= event.email %></i>
  <b><%= event.name %></b>
  <%= event.happened_at %>
</h3>

<h4>Categories</h4>
<p>
  <%= debug event.category %>
</p>

<h4>Arguments</h4>
<p>
  <%= debug event.arguments %>
</p>

<h4>Other data</h4>
<p>
  <%= debug event.data %>
</p>
